<h3>文章列表</h3>

<div class="article_content col-sm-8">
	<% @projects.each do |project| %>
		<div class="row">
			<div class="col-sm-8">
				<%= link_to project.title, project_path(project) %>
			</div>
			<td class="col-sm-2">
				<%= link_to '编辑', edit_project_path(project) %>
			</td>
			<td class="col-sm-2">
				<%= link_to '删除', project_path(project), method: :delete ,data: {:confirm => 'Are you sure?'} %>
			</td>
			<td class="col-sm-4" align="right">
				<%= project.created_at.to_s(:db) %>
			</td>
		</div>
	<% end %>
</div>